header {
  background-color: #0C4B33 !important;
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
}

header .container-fluid {
  background-color: #0C4B33 !important;
}

@media (max-width: 767px) {
  header .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

header .container-fluid .container {
  background-color: #0C4B33 !important;
  /* @media (max-width: 767px) {
                padding-left: 0px !important;
                padding-right: 0px !important;
            } */
}

header .navbar-default {
  margin-bottom: 0px;
  border: none !important;
}

header .navbar-collapse {
  border: none !important;
  box-shadow: none;
}

header .navbar-header {
  height: 72px;
  box-shadow: none;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

header .navbar-header a {
  color: white !important;
  font-size: 36px;
  font-weight: bold;
}

header .navbar-header p {
  color: #44B78B;
  margin-top: 16px;
  margin-bottom: 16px;
}

header .navbar-brand {
  margin-top: 11px;
}

@media (max-width: 767px) {
  header .navbar-brand {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

header .nav-divider {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: #106042 !important;
}

header li a {
  color: white !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 13px !important;
  line-height: 16px !important;
  text-shadow: none !important;
}

header li a:hover {
  color: #C9F0DD !important;
}

@media (max-width: 767px) {
  header li a {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (min-width: 768px) {
  header li a {
    margin-top: 7.5px;
  }
}

header button {
  border: none !important;
  background-color: transparent;
  padding: 0px 0px 0px 0px !important;
  margin-top: 29px !important;
  margin-right: 0px !important;
}

header button:hover {
  background-color: transparent !important;
}

header button:focus {
  background-color: transparent !important;
}

header button span {
  background-color: white !important;
}

.jumbotron {
  background-color: white !important;
  text-align: center;
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
  border-bottom: 1px solid #CFE3DC !important;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron p {
  color: #0C3C26;
  font-size: 36px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37px;
  margin-bottom: 24px;
  line-height: 46.8px;
}

.jumbotron a {
  background-color: #44B78B;
  color: white;
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 10px;
  font-weight: 700;
}

.jumbotron a:hover {
  color: white;
  background-color: #51BE95;
}

.main section .container-fluid {
  border-bottom: 1px solid #CFE3DC;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.main section .container-fluid article {
  color: #0C3C26;
}

.main section .container-fluid article h1 {
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 32px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 30px;
}

.main section .container-fluid article h3 a {
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
  color: #20AA76;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.main section .container-fluid article h3 a:hover {
  color: #2B8C67;
  text-decoration: none;
}

.main section .container-fluid article p {
  font-family: "Palatino", "Palatino Linotype", "Book Antiqua", "Hoefler Text", "Georgia", "Lucida Bright", "Cambria", "Times", "Times New Roman", "serif";
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.main section .container-fluid article form span {
  color: #44B78B;
  font-size: 25px;
  margin-top: 5px;
  margin-right: 10px;
}

.main section .container-fluid article .js-p-form {
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.main section .container-fluid article .js-p-form a {
  color: #51BE95;
}

.main section .container-fluid article .js-p-form a:hover {
  color: #4CCE9D;
  text-decoration: none;
}

.main section dl {
  font-size: 18px;
  margin-bottom: 50px;
  margin-bottom: 40px;
}

.main section dl dt {
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
  font-weight: normal;
  padding-top: 20px;
  padding-left: 110px;
  margin-bottom: 15px;
}

.main section dl dt span {
  color: #20AA76;
  margin-right: 10px;
  font-size: 46px;
  position: absolute;
  left: 0;
}

@media (max-width: 767px) {
  .main section dl dt span {
    font-size: 24px;
    position: relative;
    left: auto;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .main section dl dt {
    border-top: 1px solid #CFE3DC;
    padding-top: 25px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
}

.main section dl dd {
  font-family: "Palatino", "Palatino Linotype", "Book Antiqua", "Hoefler Text", "Georgia", "Lucida Bright", "Cambria", "Times", "Times New Roman", "serif";
  margin-top: 4px;
  margin-bottom: 22px;
  padding-left: 110px;
  padding-bottom: 20px;
  padding-right: 60px;
}

.main section dl dd p {
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  .main section dl dd p {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .main section dl dd {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
  }
}

.main aside {
  background-color: #F8F8F8;
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
}

.main aside .container-fluid a {
  color: #20AA76;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.main aside .container-fluid a:hover {
  color: #25C488;
}

.main aside .container-fluid a i {
  margin-right: 10px;
}

.main aside .container-fluid .js-a-type-1 {
  font-size: 12px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.main aside .container-fluid .js-a-type-2 {
  font-size: 14px;
  padding-left: 80px;
  display: inline-block;
}

.main aside .container-fluid .js-a-type-2:hover {
  color: #4CCE9D;
}

.main aside .container-fluid .js-a-type-3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 20px;
}

.main aside .container-fluid .js-a-type-4 {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 60px;
}

.main aside .container-fluid .js-a-type-5 {
  font-size: 14px;
}

.main aside .container-fluid .js-a-type-5:hover {
  color: #4CCE9D;
}

.main aside .container-fluid h2 {
  color: Green-strong-1;
  font-size: 20px;
  display: block;
  margin-top: 20px;
  margin-bottom: 17px;
  border-bottom: 1px solid #CFE3DC;
  padding-bottom: 15px;
}

.main aside .container-fluid h3 {
  color: Green-strong-1;
  font-size: 18px;
  display: block;
  margin-top: 30px;
  margin-bottom: 17px;
  border-bottom: 1px solid #CFE3DC;
  padding-bottom: 15px;
}

.main aside .container-fluid .js-btn-download {
  background-color: #44B78B;
  color: white;
  font-size: 16px;
  white-space: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: none;
}

.main aside .container-fluid .js-btn-download:hover {
  color: white;
  background-color: #51BE95;
}

.main aside .container-fluid .js-btn-download em {
  color: Green-8;
  font-style: normal;
}

.main aside .container-fluid article img {
  position: absolute;
  max-width: 64px;
  margin-top: 10px;
}

.main aside .container-fluid ul {
  list-style-position: outside;
  list-style-type: none;
  font-size: 14px;
  line-height: 22.4px;
  padding-left: 0px;
}

.main aside .container-fluid ul li {
  margin-bottom: 20px;
}

.main aside .container-fluid ul li p {
  margin-top: 14px;
  margin-bottom: 14px;
  color: #0C3C26;
}

.main aside .container-fluid ul li span {
  margin-top: 10px;
  color: #859D94;
}

.main aside .container-fluid dl dt {
  font-weight: normal;
}

.main aside .container-fluid dl dd {
  color: #90A59D;
  margin-top: 3px;
  margin-bottom: 17px;
  padding-top: 2px;
}

.js-btn-block {
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
  background-color: white;
  border-color: #CFE3DC;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #859D94;
  border-radius: 5px;
  max-width: 400px;
  font-weight: bold;
  line-height: 28.8px;
}

.js-btn-block:hover {
  color: #44B78B;
  border-color: #44B78B;
}

footer .js-footer-top {
  background-color: #44B78B;
  color: white;
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 16px;
}

footer .js-footer-top h2 {
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  line-height: 25.6px;
}

footer .js-footer-top ul {
  list-style-position: outside;
  list-style-type: none;
  font-size: 14px;
  margin-top: 15px;
  line-height: 22.4px;
  padding-bottom: 30px;
  padding-left: 0px;
}

footer .js-footer-top ul li {
  margin-top: 10px;
}

footer .js-footer-top ul li a {
  color: white;
}

footer .js-footer-bottom {
  background-color: #0C4B33;
  color: #2B8C67;
  font-family: "Roboto", "Corbel", "Avenir", "Lucida Grande", "Lucida Sans", sans-serif;
  font-size: 12px;
}

footer .js-footer-bottom a {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
}

footer .js-footer-bottom a:hover {
  color: white;
}

footer .js-footer-bottom p {
  padding-top: 30px;
  max-width: 80%;
  padding-bottom: 30px;
}

footer .js-footer-bottom ul {
  list-style-position: outside;
  list-style-type: none;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-left: 0px;
}

footer .js-footer-bottom .js-div-height {
  height: 150px;
  padding-top: 20px;
}
